@{
    Layout = null;
}

<div class="row">
    <!--table-->
    <div class="col-xs-12 col-sm-12 widget-container-span">
        <!--add PR button-->
        <button id="btn-add-PR" class="btn btn-primary btn-block"><i class="icon-plus-sign bigger-130"></i>&nbsp;Place PR</button>
        <br />
        <!--data table-->
        <table id="PR-item-list" class="table table-striped table-bordered table-hover">
        </table>
        <!--update chart button-->
        <button id="btn-update-chart" class="btn btn-yellow btn-block">
            <i class="icon-refresh  bigger-130"></i>
            Update chart
        </button>
    </div>


    <!--chart-->
    <div id="div-PR-comparison" class="col-xs-12 col-sm-12 widget-container-span">
    </div>
</div>

<!--common scripts-->
<script src="~/Content/application/js/jquery.dataTables.min.js"></script>
<script src="~/Content/application/js/jquery.dataTables.bootstrap.js"></script>
<!--page related script-->
<script src="~/Scripts/erp/purchasing_list.js"></script>
