<div class="row">
    <div class="col-xs-12 col-sm-3 center">
        <span class="profile-picture">
            @if (User.IsInRole("ProductionManager"))
            {
                <img class="img-responsive" src="~/Content/application/images/profile-pic.jpg" alt="Avatar">
            }
            else if (User.IsInRole("StoreManager"))
            {
                <img class="img-responsive" src="~/Content/application/images/profile-pic-2.png" alt="Avatar">
            }
            else if (User.IsInRole("Merchandiser"))
            {
                <img class="img-responsive" src="~/Content/application/images/profile-pic-3.png" alt="Avatar">
            }
@*profile pic if purchasing manager*@
            else
            {
                <img class="img-responsive" src="~/Content/application/images/profile-pic-4.jpg" alt="Avatar">
            }
        </span>
        <div class="space space-4"></div>
        <a class="btn btn-sm btn-block btn-success" href="#">
            <i class="icon-bell bigger-120"></i>
            <span class="bigger-110">Check Notifications</span>
        </a>
        <a class="btn btn-sm btn-block btn-primary" href="#">
            <i class="icon-envelope-alt bigger-110"></i>
            <span class="bigger-110">Send a message</span>
        </a>
    </div>

    <div class="col-xs-12 col-sm-9">
        <h4 class="blue">
            <span class="middle">@Membership.GetUser(true).UserName</span>
            <span class="label label-purple arrowed-in-right">
                <i class="icon-circle smaller-80 align-middle"></i>
                online
            </span>
        </h4>
        <div class="profile-user-info">
            <div class="profile-info-row">
                <div class="profile-info-name">Username </div>
                <div class="profile-info-value">
                    <span>@Membership.GetUser(true).UserName</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Location </div>
                <div class="profile-info-value">
                    <i class="icon-map-marker light-orange bigger-110"></i>
                    <span>Colombo</span>
                    <span>Sri Lanka</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Age </div>
                <div class="profile-info-value">
                    <span>27</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Joined </div>
                <div class="profile-info-value">
                    <span>20/06/2010</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Last Online </div>
                <div class="profile-info-value">
                    <span>3 hours ago</span>
                </div>
            </div>
        </div>
        <div class="hr hr-8 dotted"></div>
        <div class="profile-user-info">
            <div class="profile-info-row">
                <div class="profile-info-name">email </div>
                <div class="profile-info-value">
                    <a target="_blank" href="#">
                        <text>www.</text>@Membership.GetUser(true).UserName<text>.com</text></a>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">
                    <i class="middle icon-facebook-sign bigger-150 blue"></i>
                </div>
                <div class="profile-info-value">
                    <a href="#">Find me on Facebook</a>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">
                    <i class="middle icon-twitter-sign bigger-150 light-blue"></i>
                </div>
                <div class="profile-info-value">
                    <a href="#">Follow me on Twitter</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space-20"></div>
