/SerandibNet.API/obj
/SerandibNet.Data/obj
/SerandibNet.Test/obj
/SerandibNet.Logic/obj
/SerandibNet.SPA/obj
/*.suo
/SerandibNet.Model/obj
/SerandibNet.Data/bin
/SerandibNet.Test/bin
/SerandibNet.SPA/bin
/SerandibNet.Model/bin
/SerandibNet.Logic/bin
