<section>
    <form method="post" action="/Dashboard">
        <div class="widget-box">
            <div class="widget-header header-color-green">
                <div class="row">
                    <div class="col-lg-2">
                        Northwind Production Department
                    </div>
                    <div class="col-lg-10">
                        <div class="btn-toolbar no-border">
                            <div class="pull-left btn-group-sm"  >
                                
                                <button id="btnGenerate" class="btn btn-sm btn-danger" type="button">
                                    <i class="icon-remove bigger-110"></i>
                                    Generate Table
                                </button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-10">
                    <div class="row">
                        <div class="col-lg-4" style="border-color:green;border-style:solid">
                            <div id="queryBuilderContainer" style="border-color:red">
                            </div>
                        </div>

                        <div class="col-lg-8" style="border-color:green;border-style:solid">
                            <div id="example" class="k-content">
                                <div id="clientsDb">
                                    <div id="grid" style="height: 250px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>

    </form>
        
</section>


