@*Roles : Merchandiser  (chamara),ProductionManager (samudra),PurchasingManager(hasitha),StoreManager(hirushan)*@

@*@{List<string> Dashboards = { "madhu1", "madhu2" }; }*@
<ul class="nav nav-list">

    
    <li id="home" class="active menu-item">
        <a id="home" href="javascript:void(0);">
            <i class="icon-dashboard"></i>
            <span class="menu-text">Home</span>
        </a>
    </li>

    @*@foreach(var Dashboard in Dashboards){
        <li id="@Dashboard" class="active menu-item">
        <a id="menu-madhu1-click" class="dropdown-toggle" href="javascript:void(0);">
            <i class="icon-dashboard"></i>
            <span class="menu-text">Dashboard @Dashboard</span>
        </a>
            </li>
    }*@
   
    @if (User.Identity.Name == "NW_Admin")
    {
        <li id="li-app-builder" class="active menu-item">
            <a id="menu_admin_profile_click" href="javascript:void(0);">
                <i class="icon-dashboard"></i>
                <span class="menu-text">My Profile</span>
            </a>
        </li>
         <li id="li-create-user" class="active menu-item">
            <a id="menu-addUser-click" href="javascript:void(0);">
                <i class="icon-dashboard"></i>
                <span class="menu-text">User Management</span>
            </a>
        </li>
        <li id="li-query-builder" class="active menu-item">
            <a id="menu-query-builder-click" href="javascript:void(0);">
                <i class="icon-dashboard"></i>
                <span class="menu-text"> Query Builder</span>
            </a>
        </li>
         <li id="li-app-builder" class="active menu-item">
             <a id="menu-app-builder-click" href="javascript:void(0);">
                 <i class="icon-dashboard"></i>
                 <span class="menu-text">App Builder</span>
             </a>
        </li>
       
        
        
        <li id="li-createWorkspace" class="active menu-item">
            <a id="menu-createWorkspace-click" href="javascript:void(0);">
                <i class="icon-dashboard"></i>
                <span class="menu-text">Create Workspace</span>
            </a>
        </li>
        
        <li>
            <a href=" javascript:void(0);" class="dropdown-toggle">
                <i class="icon-desktop"></i>
                <span class="menu-text">Applications </span>

                <b class="arrow icon-angle-down"></b>
            </a>

                <ul class="submenu">
                    <li>
                        <a href="#ContactsEditor">
                            <i class="icon-double-angle-right"></i>
                            Data Viewer
                        </a>
                    </li>
                    <li>
                        <a href="#ChartDesigner">
                            <i class="icon-double-angle-right"></i>
                            Chart Viewer
                        </a>
                    </li>
                    
                    <li>
                        <a href="#shoppingCart">
                            <i class="icon-double-angle-right"></i>
                            Production Performance
                        </a>
                    </li>
                    <li>
                        <a href="#demoworkspace">
                            <i class="icon-double-angle-right"></i>
                           Stock Status
                        </a>
                    </li>
                    @*<li>
                        <a href="#hello">
                            <i class="icon-double-angle-right"></i>
                            Simple Sample
                        </a>
                    </li>*@
                </ul>
            </li>
    }
    else if (User.Identity.Name == "NW_ProdMgr")
    {
         <li id="li-profile" class="active menu-item">
             <a id="menu_prodmgr_profile_click" href="javascript:void(0);">
                 <i class="icon-dashboard"></i>
                 <span class="menu-text">My Profile</span>
             </a>
        </li>
         <li id="li-app-request" class="active menu-item">
            <a id="app-request" href="javascript:void(0);">
                <i class="icon-dashboard"></i>
                <span class="menu-text">Request App</span>
            </a>
        </li>
         <li id="li-workspace" class="active menu-item">
            <a id="menu-prodman-workspace-click" href="javascript:void(0);">
                <i class="icon-dashboard"></i>
                <span class="menu-text">My Workspace</span>
            </a>
        </li>
         
        <li>
            <a href=" javascript:void(0);" class="dropdown-toggle">
                <i class="icon-desktop"></i>
                <span class="menu-text">Applications </span>

                <b class="arrow icon-angle-down"></b>
            </a>

                <ul class="submenu">
                    <li>
                        <a href="#ChartDesigner">
                            <i class="icon-double-angle-right"></i>
                            Production Line Data View
                        </a>
                    </li>
                    <li>
                        <a href="#ContactsEditor">
                            <i class="icon-double-angle-right"></i>
                            Production Performance
                        </a>
                    </li>
                    <li>
                        <a href="#shoppingCart">
                            <i class="icon-double-angle-right"></i>
                            Stock Status
                        </a>
                    </li>
                    <li>
                        <a href="#demoworkspace">
                            <i class="icon-double-angle-right"></i>
                            Contacts
                        </a>
                    </li>
                   
                </ul>
            </li>
    }
    else if (User.Identity.Name == "madhu") 
    {            
    <li id="li-dashboard-madhu1" class="active menu-item">
        <a id="menu-madhu1-click" class="dropdown-toggle" href="javascript:void(0);">
            <i class="icon-dashboard"></i>
            <span class="menu-text">App Madu1</span>
        </a>
        <ul class="submenu" style="display: none;">
            <li id="li-App1" class="menu-item">
                <a href="/#app1">
                    <i class="icon-double-angle-right"></i>
                    Madhu App1
                </a>
            </li>
            <li id="li-App2" class="menu-item">
                <a href="/#app2">
                    <i class="icon-double-angle-right"></i>
                    Madhu App2
                </a>
            </li>
        </ul>
    </li>          
    }
    else if (User.Identity.Name == "samudra1") 
    {
    <li id="li-dashboard-samu1" class="active menu-item">
        <a id="menu-samu1-click" class="dropdown-toggle" href="javascript:void(0);">
            <i class="icon-dashboard"></i>
            <span class="menu-text">Workspace Samu1</span>
        </a>
        <ul class="submenu" style="display: none;">
            <li id="li-App1" class="menu-item">
                <a href="/#app1">
                    <i class="icon-double-angle-right"></i>
                    Samu App1
                </a>
            </li>
            <li id="li-App2" class="menu-item">
                <a href="/#app2">
                    <i class="icon-double-angle-right"></i>
                    Samu App2
                </a>
            </li>
        </ul>
    </li>
    <li id="li-dashboard-samu2" class="active menu-item">
        <a id="menu-samu2-click" class="dropdown-toggle" href="javascript:void(0);">
            <i class="icon-dashboard"></i>
            <span class="menu-text">WorkSpce Samu2</span>
        </a>
        <ul class="submenu" style="display: none;">
            <li id="li-App3" class="menu-item">
                <a href="/#app3">
                    <i class="icon-double-angle-right"></i>
                    Samu App3
                </a>
            </li>            
        </ul>
    </li>
    }
    else
    { <li>No authentic user</li>
    } 

</ul>





