<section>
    <h4 data-bind="html: displayName"></h4>
    
    <script src="/Scripts/highcharts/highcharts.js"></script>
    <script src="/Scripts/highcharts/exporting.js"></script>
    

    <div class="widget-box">
        <div class="row">
            <div class="col-lg-4 pull-left">
                <img src="/Content/images/admin.png" style="float:right" width="200" height="200">
            </div>
            <div class="col-lg-8">
                <h1>Name : Samudra Kanakearachchi</h1>
                <h2>Designation: System Administrator</h2>	
                
                <div class="space-6"></div>

                <div class="widget-box">

                    <div class="vspace-sm"></div>
                    <div class="row">
                        <div class="col-lg-6 pull-left">
                           <b>Responsibilities:</b> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 pull-left">
                            Add users to the system:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 pull-left">
                            Change roles of users:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 pull-left">
                            Create workspaces for users:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 pull-left">
                            Share workspaces among users:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 pull-left">
                            Access Controll:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 pull-left">
                            Create Applications for users on request:
                        </div>
                    </div>

                </div>	
            </div>

            
        </div>        
        </div>
										
</section>


