

<section>
    <h4 data-bind="html: displayName"></h4>
    
    <form>
        Dashboard name: <input type="text" name="Dashboard Name" data-bind="value: name"><br>

        <div id="Templates">

            <div id="header" style="background-color:#FFA500;">
                <h1 style="margin-bottom:0;">Select a template</h1>
            </div>
            <p>Dashboard Template: <select id="num" data-bind="options: features"></select></p>
            
        </div>


        <div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
            
            <input type="button" value="Create" onclick="createDashboard()">
        </div>
       
    </form>
    
    <div id="dashboard_sketch">


    </div>
</section>
<!--//take number of apps
    //create dom
    //append them to dashboard_sketch-->

