@model IEnumerable<SerandibNet.SPA.Models.Notification>

<li class="purple">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="icon-bell-alt icon-animated-bell"></i>
        <span class="badge badge-important">10</span>
    </a>
    <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="icon-warning-sign"></i>
           10
            <text>Notifications</text>
        </li>
        
        @* <li>
            <a href="#">
                <div class="clearfix">
                    <span class="pull-left">
                        <i class="btn btn-xs no-hover btn-success icon-shopping-cart"></i>
                        New Orders
                    </span>
                    <span class="pull-right badge badge-success">2</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">See all notifications
										<i class="icon-arrow-right"></i>
            </a>
        </li>*@
    </ul>
</li>
