<li class="light-blue">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        <img class="nav-user-photo" alt="Jason's Photo" src="~/Content/themes/base/images/user.png">
        <span class="user-info">
            <small>@User.Identity.Name</small>
        </span>
        <i class="icon-caret-down"></i>
    </a>
    <ul class="user-menu dropdown-menu dropdown-yellow dropdown-caret dropdown-close pull-right">
        <li class="divider"></li>

        <li>
            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </li>
    </ul>
</li>
