<div class="messageBox">
    <div class="modal-header">
        <h3>Manage Parameters </h3>
    </div>
    <div class="modal-body">
        <form data-bind="submit: ok">
            <div>
                <label>Parameter keys Url</label>
                <input type="text" data-bind="value: layout.parameterUrl"/>
            </div>
            <div id="tabstrip">
               <ul  data-bind="foreach: layout.componentList">
                    <li data-bind="text: name">

                    </li>
                </ul>

                   <!--ko foreach: layout.componentList-->
                    <div >
                        <div data-bind="foreach: parameternames">
                            <label data-bind="text: parameterName"></label>
                             <select data-bind="options: $root.layout.paramKeys,
    value: parameterValue?parameterValue:'',
    optionsCaption: 'Choose...'"></select>
                        </div>

                    </div>
                <!--/ko-->
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: ok">Save</button>
        <button class="btn btn-primary" data-bind="click: cancel">Cancel</button>
    </div>
</div>