<section>

    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="background-color:green">
                <h4>Query Builder</h4>
                <div data-bind="compose: { model: 'apps/QueryBuilder/viewmodels/QueryBuilder', compositionComplete: composeCompleted }">
                </div>
            </div>
        </div>

        <div class="col-lg-12" style="background-color:greenyellow">
            <h4>Chart Designer</h4>
            <div data-bind="compose: { model: 'apps/ChartDesigner/viewmodels/ChartDesigner', compositionComplete: composeCompleted }">
            </div>
        </div>
    </div>

    
</section>