<section>

    <div class="container">
       
            <div class="col-lg-12" style="background-color:green">
                <h4>Profile</h4>
                <div data-bind="compose: { model: 'apps/profileProdMgr/viewmodels/profileProdMgr', compositionComplete: composeCompleted }">
                </div>
            </div>
       

        <div class="col-lg-12" style="background-color:greenyellow">
            <h4>Contact Editor</h4>
            <div data-bind="compose: { model: 'apps/contactsEditor/viewmodels/contactsEditor', compositionComplete: composeCompleted }">
            </div>
        </div>
    </div>


</section>